<%- include("./partials/header.ejs") -%>

<h1>Home</h1>
<p><%=homeContent%></p>
<% console.log(posts); %>



<%  posts.forEach(function(post){   %>
    <h1><%=  post.title; %></h1>
    <% let titleCharacter = post.title %>
    <%  let contentCharacter = post.content; %>
    <%  if (contentCharacter.length >= 100){ %>
    <p><%=  contentCharacter.slice(0, 100) + "..." %> <a href="/posts/<%= post.title%>">Read More</a> </p>
    <%}else{ %>
      <%= contentCharacter %>
    <%}; %>



  <%}); %>




<%- include("./partials/footer.ejs") -%>
